
.topBox{
    position: absolute;
    height:50px ;
    width:1179px;
    left:0%;
    top:0px;
    background-color: black;
}
.titleMid{
color:white;
position:absolute;
left:42%;
top:-11px;
font-family: Arial;
}
.plusBtn{
    position:absolute;
      height: 40px;
      width:40px;
      background-color: black;
      right:5px;
      top:3px;
      border:none;
      
}
.plusPhoto{
    height: 30px;
    width:30px;
}
.boxOne{
    margin: 58px;
    height: 400px;
    width: 190px;
    border: 10px solid #d1d2d4;
    border-bottom-width:60px ;
    padding: 10px;
    background-color:#bcbcbf ;
    border-radius: 20px;
}
.profilePhoto{
  height: 90px;
  width:90px;
  margin-top: -520px;
  margin-left:130px;
  background-color:#292425;
}
.line{
margin-top:135px;
width:140px;
height:0.3px;
background-color: white;
}
.userName{
margin-top:-34px;
text-align: center;
}
.companyName{
    text-align: center;
}.paymentInfo{
    height: 170px;
    width:180px;
    margin-top:80px;
    margin-left:83px;
    background-color:white;
    border-radius: 20px;
}
.totalInfo{ 
    height: 30px;
    width:180px;
    margin-top:15px;
    margin-left:83px;
    background-color:white;
    border-radius: 20px;
}
.boxTwo{
    margin: 58px;
    height: 465px;
    width: 600px;
    padding: 10px;
    margin-left:340px;
    margin-top:-410px;
    padding: 10px;
    background-color:#bcbcbf ;
    border-radius: 20px;
}
.calculatorPhoto{
height: 300px;
margin-left:160px;
margin-top:80px;
}
.box{
    position:absolute;
    left:400px ;
    bottom:15%;
    width:10%;

}
.box input[type="text"]{
    border:0;
    background:#e5e6e9;
    display:block;
    margin : 20px auto;
    text-align: center;
    padding : 14px 10px; 
    width : 200px;
    border-radius: 15px;
    transition : 0.15;
    }
    .box input[type="text"]{
        border:0;
        background:#e5e6e9;
        display:block;
        margin : 20px auto;
        text-align: center;
        padding : 14px 10px; 
        width : 250px;
        border-radius: 15px;
        transition : 0.15;
        }
        .box input[type="number"]{
            border:0;
            background:#e5e6e9;
            display:block;
            margin : 20px auto;
            text-align: center;
            padding : 14px 10px; 
            width : 250px;
            border-radius: 15px;
            transition : 0.15;
            }
            .box input[type="number"]{
                border:0;
                background:#e5e6e9;
                display:block;
                margin : 20px auto;
                text-align: center;
                padding : 14px 10px; 
                width : 250px;
                border-radius: 15px;
                transition : 0.15;
                }
                .box input[type="text"]{
                    border:0;
                    background:#e5e6e9;
                    display:block;
                    margin : 20px auto;
                    text-align: center;
                    padding : 14px 10px; 
                    width : 250px;
                    border-radius: 15px;
                    transition : 0.15;
                    }
                    .save{
                      position: absolute;
                      width:5%;
                      height:5%;
                      left:55%;
                      top:100%;
                    }